<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="System.Numerics.MPFR.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<System.Numerics.MPFR.Settings>
			<setting name="NativeLoadingPreferences" serializeAs="String">
				<value>PreferInternal,PreferLatest,IgnoreUnversioned</value>
			</setting>
			<setting name="x32_NativePath" serializeAs="String">
				<value>x32;mpfr_gmp/bin/x32</value>
			</setting>
			<setting name="x64_NativePath" serializeAs="String">
				<value>x64;mpfr_gmp/bin/x64</value>
			</setting>
		</System.Numerics.MPFR.Settings>
	</applicationSettings>
</configuration>